pipeline/Load_all_data.json
{
	"name": "Load_all_data",
	"properties": {
		"activities": [
			{
				"name": "All_Tables_Lookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Lookup_Dataset",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Copy_Iterator",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "All_Tables_Lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('All_Tables_Lookup').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Full_Load",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Full_Load_Src_Dataset",
									"type": "DatasetReference",
									"parameters": {
										"schema": {
											"value": "@item().src_Schema",
											"type": "Expression"
										},
										"tablename": {
											"value": "@item().src_TableName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Full_Load_Sink_Dataset",
									"type": "DatasetReference",
									"parameters": {
										"Folder": {
											"value": "@concat('incremental/',item().ADLS_FolderName)",
											"type": "Expression"
										},
										"File": {
											"value": "@concat(item().src_TableName,'.parquet')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2021-06-22T07:11:46Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}