VVin/PartialArmTemplates/ArmTemplate_7_16_2021_22_1_3.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "VVin"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Load_all_data')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "All_Tables_Lookup",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "Lookup_Dataset",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Copy_Iterator",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "All_Tables_Lookup",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('All_Tables_Lookup').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Full_Load",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBehavior": "insert",
											"tableOption": "autoCreate",
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "Full_Load_Src_Dataset",
											"type": "DatasetReference",
											"parameters": {
												"schema": {
													"value": "@item().src_Schema",
													"type": "Expression"
												},
												"tablename": {
													"value": "@item().src_TableName",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "vvin1_sink_ds",
											"type": "DatasetReference",
											"parameters": {
												"sink_Schema": {
													"value": "@item().src_Schema",
													"type": "Expression"
												},
												"sink_TableName": {
													"value": "@item().src_TableName",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-06-22T07:11:46Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/vvin1_sink_ds')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/vvin1_sink_ds')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "vvin1_SQL_Sink_LS",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"sink_Schema": {
						"type": "string"
					},
					"sink_TableName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().sink_Schema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().sink_TableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		}
	]
}